
#dashboard-screen {
    background: linear-gradient(135deg, #6262b1 0%, #646271 100%);

    height: 100%;

    padding: 20px;

    box-sizing: border-box;

    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

#dashboard-screen::-webkit-scrollbar {
    display: none;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    background: #3f31e3;
    border-radius: 50%;
}

.config-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.dashboard-user {
    margin-top: 25px;
}

.dashboard-user h2 {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.saldo-card {
    margin-top: 20px;
    background: #3f31e3;
    border-radius: 22px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.saldo-info p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.saldo-info h1 {
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.saldo-arrow {
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.dashboard-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.dash-action {
    width: 100px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.action-icon {
    width: 100px;
    height: 100px;
    background: #3f31e3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
}

.dash-action span {
    margin-top: 12px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.credito-card {
    margin-top: 30px;
    background: #3f31e3;
    border-radius: 22px;
    padding: 20px;
}

.credito-card h2 {
    color: white;
    font-size: 20px;
}

.fatura-label {
    margin-top: 10px;
    color: #d8d7ff;
    font-size: 16px;
}

.credito-card h1 {
    color: white;
    font-size: 22px;
    margin-top: 5px;
}

.limite-texto {
    margin-top: 10px;
    color: #b8b7ec;
    font-size: 16px;
}

.meus-cartoes-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: #3f31e3;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}